:root {
    --color-text-titulos: #ffffff;
    --color-texto: rgba(255, 255, 255, 0.867);
    --color-enlaces_a: #E6E4C6;
    --color-fondo: #558391;
    --color-fondo-tarjeta: #ffffff27;
    /*
    --color-fondo: #7bdfd7;
    --color-fondo-tarjeta: #D0ECE7;*/
}

body {
    margin: 0;
    background: rgb(46, 125, 161);
    background: linear-gradient(0deg, rgba(46, 125, 161, 1) 21%, rgba(56, 188, 176, 1) 92%);
    color: var(--color-texto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "aside header"
        "aside main"
        "footer footer";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text-titulos);
}

p,
span {
    color: var(--color-texto);
}

/* Estilos del aside*/
aside {
    grid-area: aside;
    padding: 0px 5px;
    margin: 10px;
}

aside div {
    border-bottom: 2px solid var(--color-fondo);
}


/* Estilos del Progress bar */
progress {
    -webkit-appearance: none;
    width: 100%;
}

::-webkit-progress-inner-element {
    height: 5px;
}

::-webkit-progress-value {
    background-color: var(--color-enlaces_a);
}

::-webkit-progress-bar {
    background-color: var(--color-fondo);
}




/* Estilos del footer*/
footer {
    text-align: center;
    grid-area: footer;
    color: var(--color-texto);


}

footer a {
    color: var(--color-texto);
    background-color: unset;
    display: block;

}

footer i {
    color: var(--color-texto);
    background-color: unset;

    margin-left: 10px;
}

footer h3 {
    padding: 10px 0px 10px 10px;
}


.contacto {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;

}


/* Estilos de los enlaces a*/
a {
    display: inline-block;
    color: var(--color-fondo);
    background-color: var(--color-enlaces_a);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: bold;

}

/* Estilos del Header*/
header {
    grid-area: header;
    background: rgb(56, 188, 176);
    background: linear-gradient(0deg, rgba(56, 188, 176, 1) 11%, rgba(46, 125, 161, 1) 86%);
    border-bottom-left-radius: 7px;
    display: flex;
    justify-content: space-between;
}

header img {
    max-height: 300px;
    flex-shrink: 1;
    margin-right: 50px;
    margin-top: auto;
    

}

header div {
    margin: 40px;
}

/* Estilos del Main*/
main {
    grid-area: main;
}

.tarjeta {
    background-color: var(--color-fondo-tarjeta);
    border-radius: 5px;
}

.experiencia div {
    margin: 0 20px;
}

.experiencia {
    flex-basis: 310px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    margin-right: 5px;
}
.experiencia img{    
    height: 150px;
    object-fit: cover;
    filter:grayscale(0.8);
    transition: 0.2s;
  }

  .experiencia:hover img{
    filter:grayscale(0);
  }

.experiencia a {
    margin-top: auto;
    text-align: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#ContenedorTarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilos para hacer la pagina responsiva*/
@media(max-width:650px){
    header{
      margin-left: unset;
      border-radius: unset;
    }
    header img{
      display: none;
    }
    body{
      grid-template-columns: 1fr;
      grid-template-areas: "header" "aside" "main" "footer";
    }
  }